                                                                - submit jobRequest
                                                                - take next available execution
                                                                - mark execution as succeeded
                                                                - mark execution as failed
                                                                - cancel non running jobRequest
                                                                - rename JobRequest -> Task, Job -> Run, TAKEN -> RUNNING
                                                                - add retry ability
                                                                - task has body
                                                                - when cancelling you need to provide the last ExecutionId
                                                                - add availableSince field
- implement ttl mechanism
- enable multiple queues
- add mongodb transaction support
- define custom meta-fields to enable picking of next execution
    - filtering based on string value (e.g. group)
    - filtering based on string list value (e.g. labels)
    - sorting based on int value (e.g. priority)
    - sorting based on creation date
    - sorting based on last updated date
- add ability to check for heart beat
    - add ability to record worker id (on sending heartbeat)
- implement plug-able limit mechanism
- define client api
- add local jvm client api
- add rest client api
- implement retry mechanism
- add orphanage mechanism - if hasn't started after 1 minute consider orphan
- add ability to record/not-record the execution history
- add ability to pause agents
- names of final states should be changeable/dynamic

- implement plug-able health check mechanism: healthy, cantDecide, timedOut, dead
- in memory daos - for quick tests
- rename to TaskQueue